# Ignore everything.
/*

# Keep those files.
!/.gitignore
!/CMakeLists.txt
!/README.md

# Keep those directories.
!/include/
!/src/
!/python/

# Keep the contents of those directories.
!/include/**
!/src/**
!/python/**